<div class="flex flex-col justify-center items-center">
  <div class="flex flex-row justify-center space-x-8 w-10/12">
    <div class="flex-1">
      <div class="flex">
        <h2 class="text-xl font-bold mb-4">To Do</h2>
      </div>
      <div class="space-y-4">
        <% @tasks.each do |task| %>
          <% if to_do(task) %>
            <div class="border-2 border-red-500 p-4 rounded-md">
              <div class="flex justify-between">
                <h3 class="text-lg text-black font-bold mb-2"><%= task.title.capitalize %></h3>
                <button><%= button_to "Delete Task", task_path(task), method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %></button>
              </div>
              <div class="flex justify-between w-3/4">
                <p class="text-blue-500 font-bold whitespace-nowrap">Task Type: </p>
                <p class="text-md ml-2 font-semibold"><%= task.type %></p>
              </div>
              <div class="flex justify-between w-7/12">
                <p class="text-blue-500 font-bold">Deadline: </p>
                <p class="text-md ml-2 font-semibold"><%= task.deadline.strftime("%m-%d") %></p>
              </div>
              <div class="flex">
                <p class="text-blue-500 font-bold">Collaborators: </p>
                <div class="flex flex-col">
                  <% task.users.each do |member| %>
                    <p class="text-md ml-2 font-semibold"><%= member.email %></p>
                  <% end %>
                </div>
              </div>
              <% if owns(task, current_user) %>
                <%= form_for(task, url: task_path(task), method: :put) do |form| %>
                  <div class="flex justify-between w-3/4 mt-4">
                    <%= form.label :progress, "Progress:", class:"text-blue-500 font-bold whitespace-nowrap" %>
                    <%= form.select :progress, ["to_do", "in_progress", "done"] %>
                  </div>
                  <div class="flex justify-between mt-4">
                    <%= form.label :attachment, "Attachment:", class:"text-blue-500 font-bold whitespace-nowrap" %>
                    <%= form.file_field :attachment %>
                  </div>                  
                  <div class="flex justify-end mt-4">
                    <%= form.submit "Update Progress", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="flex-1">
      <div class="flex">
        <h2 class="text-xl font-bold mb-4">In Progress</h2>
      </div>
      <div class="space-y-4">
      <% @tasks.each do |task| %>
        <% if in_progress(task) %>
          <div class="border-2 border-orange-500 p-4 rounded-md">
            <div class="flex justify-between">
              <h3 class="text-lg text-black font-bold mb-2"><%= task.title.capitalize %></h3>
              <button><%= button_to "Delete Task", task_path(task), method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %></button>
            </div>
            <div class="flex justify-between w-3/4">
              <p class="text-blue-500 font-bold whitespace-nowrap">Task Type: </p>
              <p class="text-md ml-2 font-semibold"><%= task.type %></p>
            </div>
            <div class="flex justify-between w-7/12">
              <p class="text-blue-500 font-bold">Deadline: </p>
              <p class="text-md ml-2 font-semibold"><%= task.deadline.strftime("%m-%d") %></p>
            </div>
            <div class="flex">
              <p class="text-blue-500 font-bold">Collaborators: </p>
              <div class="flex flex-col">
                <% task.users.each do |member| %>
                  <p class="text-md ml-2 font-semibold"><%= member.email %></p>
                <% end %>
              </div>
            </div>
            <% if owns(task, current_user) %>
              <%= form_for(task, url: task_path(task), method: :put) do |form| %>
                <div class="flex justify-between w-3/4 mt-4">
                  <%= form.label :progress, "Progress:" %>
                  <%= form.select :progress, ["to_do", "in_progress", "done"] %>
                </div>
                <div class="flex justify-end mt-4">
                  <%= form.submit "Update Progress", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="flex-1">
      <div class="flex">
        <h2 class="text-xl font-bold mb-4">Done</h2>
      </div>
      <div class="space-y-4">
      <% @tasks.each do |task| %>
        <% if done(task) %>
          <div class="border-2 border-green-500 p-4 rounded-md">
            <div class="flex justify-between">
              <h3 class="text-lg text-black font-bold mb-2"><%= task.title.capitalize %></h3>
              <button><%= button_to "Delete Task", task_path(task), method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %></button>
            </div>
            <div class="flex justify-between w-3/4">
              <p class="text-blue-500 font-bold whitespace-nowrap">Task Type: </p>
              <p class="text-md ml-2 font-semibold"><%= task.type %></p>
            </div>
            <div class="flex justify-between w-7/12">
              <p class="text-blue-500 font-bold">Deadline: </p>
              <p class="text-md ml-2 font-semibold"><%= task.deadline.strftime("%m-%d") %></p>
            </div>
            <div class="flex">
              <p class="text-blue-500 font-bold">Collaborators: </p>
              <div class="flex flex-col">
                <% task.users.each do |member| %>
                  <p class="text-md ml-2 font-semibold"><%= member.email %></p>
                <% end %>
              </div>
            </div>
            <% if owns(task, current_user) %>
              <%= form_for(task, url: task_path(task), method: :put) do |form| %>
                <div class="flex justify-between w-3/4 mt-4">
                  <%= form.label :progress, "Progress:" %>
                  <%= form.select :progress, ["to_do", "in_progress", "done"] %>
                </div>
                <div class="flex justify-end mt-4">
                  <%= form.submit "Update Progress", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'task_pool_partials/add_task' %>
