<div class="flex flex-col justify-center items-center">
  <div class="flex flex-row justify-center items space-x-8 w-10/12">
    <div class="flex-1">
      <h2 class="text-xl font-bold mb-4">To Do</h2>
      <div class="space-y-4">
        <% @tasks.each do |task| %>
          <% if task.progress == "to do" %>
            <div class="border-2 border-red-500 p-4 rounded-md">
              <h3 class="text-lsg text-black font-bold mb-2"><%= task.title %></h3>
              <p class="text-md font-bold">Task Type: <%= task.type %></p>
              <p class="text-md font-bold">Deadline: <%= task.deadline.strftime("%Y-%m-%d") %></p>
              <p class="text-md font-bold">Collaborators: </p>
              <% task.users.each do |member| %>
                <p class="text-md font-bold"><%= member.email %> </p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="flex-1">
      <h2 class="text-xl font-bold mb-4">In Progress</h2>
      <div class="space-y-4">
        <% @tasks.each do |task| %>
          <% if task.progress == "in progress" %>
            <div class="border-2 border-orange-500 p-4 rounded-md">
              <h3 class="text-lsg text-black font-bold mb-2"><%= task.title %></h3>
              <p class="text-md font-bold">Task Type: <%= task.type %></p>
              <p class="text-md font-bold">Deadline: <%= task.deadline.strftime("%Y-%m-%d") %></p>
              <p class="text-md font-bold">Collaborators: </p>
              <% task.users.each do |member| %>
                <p class="text-md font-bold"><%= member.email %> </p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="flex-1">
      <h2 class="text-xl font-bold mb-4">Finished</h2>
      <div class="space-y-4">
        <% @tasks.each do |task| %>
          <% if task.progress == "finished" %>
            <div class="border-2 border-green-500 p-4 rounded-md">
              <h3 class="text-lsg text-black font-bold mb-2"><%= task.title %></h3>
              <p class="text-md font-bold">Task Type: <%= task.type %></p>
              <p class="text-md font-bold">Deadline: <%= task.deadline.strftime("%Y-%m-%d") %></p>
              <p class="text-md font-bold">Collaborators: </p>
              <% task.users.each do |member| %>
                <p class="text-md font-bold"><%= member.email %> </p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>