<% if can? :create, Task %>
  <section class="flex flex-col justify-center items-center pt-6">
    <div class="flex flex-col justify-center items-center bg-white rounded-md border border-gray-500 p-4">
      <h2 class="text-xl font-bold mb-4 text-[#3182ce]">Add Task</h2>
      <%= form_with(model: [@task_pool, Task.new], url: add_task_task_pool_path(@task_pool), local: true, html: { id: "add-task-form" }) do |form| %>
        <div class="space-y-2">
          <div class="flex">
            <%= form.label :title, class: "block font-medium text-gray-700 pr-3 w-32" %>
            <%= form.text_field :title, required: true, class: "form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm rounded-md border border-gray-300" %>
          </div>
          <div class="flex">
            <%= form.label :description, class: "block font-medium text-gray-700 pr-3" %>
            <%= form.text_area :description, required: false, class: "form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm rounded-md border border-gray-300" %>
          </div>
          <div class="flex">
            <%= form.label :deadline, class: "block font-medium text-gray-700 pr-3 w-32" %>
            <%= form.date_field :deadline, required: true, class: "form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm rounded-md border border-gray-300" %>
          </div>
          <div class="flex">
            <%= form.label :type, class: "block font-medium text-gray-700 pr-3 w-32" %>
            <%= form.select :type, Task.task_types.keys, { prompt: true }, { class: "form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm rounded-md border border-gray-300" } %>
          </div>
          <div class="flex">
            <%= form.label :Assignees, class: "block font-medium text-gray-700 pr-3 w-32" %>
            <%= form.collection_select :user_ids, User.where(teamleader: false), :id, :email, {}, { class: "form-select mt-1 block w-full rounded-md border-gray-300 shadow-sm rounded-md border border-gray-300" } %>
          </div>
        </div>
        <%= form.submit "Create Task", class: "inline-flex items-center justify-center px-4 py-1 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 mt-4" %>
      <% end %>
    </div>
  </section>
<% end %>
<script>
  const form = document.getElementById('add-task-form');

  form.addEventListener('submit', (event) => {
    event.preventDefault();

    const formData = new FormData(form);

    fetch(form.action, {
      method: 'POST',
      body: formData
    })
    .then(response => {
      if (response.ok) {
        // Redirect to the same URL after the form submission
        window.location.href = window.location.href;
      }
    })

    const actionUrl = form.getAttribute('action');
    const xhr = new XMLHttpRequest();

    xhr.open('POST', actionUrl, true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

    const csrfToken = document.head.querySelector('meta[name="csrf-token"]').content;
    xhr.setRequestHeader('X-CSRF-Token', csrfToken);

    xhr.onload = function() {
      if (xhr.status === 200) {
        const response = JSON.parse(xhr.responseText);
        console.log(response);
      } else {
        console.error(xhr.statusText);
      }
    };

    xhr.onerror = function() {
      console.error('An error occurred while submitting the form.');
    };

    xhr.send(FormData);
  });
</script>
